# Rust / Cargo
/target

# Test artifacts
**/.hone
tests/integration/*.txt
tests/integration/wd_test_dir

# Build artifacts
dist/
out/
*.tgz

# Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Editor / IDE
.idea
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

hone*